<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirm your hold on order #<%=raw @seller.id%> at www.coincompass.net</h1>
    <p>
       You have recently submitted a hold on a sell order at www.coincompass.net. Please review the details below, as you will need these to pay for your coins.
    </p>
    <div> <b> Bank Name </b> <%=@seller.bank_name %> </div>
    <div> <b> Account Name </b> <%=@seller.credname %> </div>
    <div> <b> Account Number  </b><%= @seller.seller_account_number %> </div>
    <div> <b> Amount of BTC Bought </b><%=@seller.sell_amount%> </div>
    Please follow your order by making a payment into the above account and uploading your deposit receipt.

    <% if @buyer.bitcoin_address == true %>
      <div>At the Address: <b> <%=@seller.bit_address%> </b></div>
    <%end%>

  </body>
</html>