<div class="jumbotron">
   <div class="container">
   
   </div>
</div>
 <div class="container">
   <h1>Buy bitcoins online</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Currency</th>
      <th>Bank</th>
      <th>Price</th>
      <th>Min</th>
      <th>Max</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.credname%></td>
        <td><%= seller.currency%></td>
        <td><%= seller.bank_name %></td>
        <% if seller.currency == "USD" %>
          <td><%= number_to_currency(seller.sell_dollar_value)%></td>
          <td><%= number_to_currency(seller.minsell_amount)%></td>
          <td><%= number_to_currency(seller.sell_amount)%></td>
        <% elsif seller.currency == "EUR" %>
          <td><%= number_to_currency(seller.sell_dollar_value, :unit => "€")%></td>
          <td><%= number_to_currency(seller.minsell_amount, :unit => "€")%></td>
          <td><%= number_to_currency(seller.sell_amount, :unit => "€")%></td>
        <% else %>
          <td><%= number_to_currency(seller.sell_dollar_value, :unit => '$Cent ')%></td>
          <td><%= number_to_currency(seller.minsell_amount, :unit => '$Cent ')%></td>
          <td><%= number_to_currency(seller.sell_amount, :unit => '$Cent ')%></td>
        <% end %>
          <% if current_user.buyers.count >= 2 || seller.buyers.present? %>
            <td>
            <%= link_to "Buy BitCoin", new_buyer_path(seller_id: seller.id), disabled: true, class: "btn btn-info" %></td>
          <%else%>
             <td>
            <%= link_to "Buy BitCoin", new_buyer_path(seller_id: seller.id), class: "btn btn-info" %></td>
          <%end%>
      </tr>
    <% end %>
  </tbody>
</table>