<p id="notice"><%= notice %></p>

<p>
  <strong>Sell buy:</strong>
  <%= @item.sell_buy %>
</p>

<p>
  <strong>Country:</strong>
  <%= @item.country %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @item.currency %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @item.bank_name %>
</p>

<p>
  <strong>Margin:</strong>
  <%= @item.margin %>
</p>

<p>
  <strong>Min transaction limit:</strong>
  <%= @item.min_transaction_limit %>
</p>

<p>
  <strong>Max transaction limit:</strong>
  <%= @item.max_transaction_limit %>
</p>

<p>
  <strong>Restrict to:</strong>
  <%= @item.restrict_to %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @item.terms %>
</p>

<p>
  <strong>Minimum volume:</strong>
  <%= @item.minimum_volume %>
</p>

<p>
  <strong>Minimum feedback score:</strong>
  <%= @item.minimum_feedback_score %>
</p>

<p>
  <strong>New buyer limit:</strong>
  <%= @item.new_buyer_limit %>
</p>

<p>
  <strong>Payment ref:</strong>
  <%= @item.payment_ref %>
</p>

<p>
  <strong>Ref type:</strong>
  <%= @item.ref_type %>
</p>

<p>
  <strong>Track liquidity:</strong>
  <%= @item.track_liquidity %>
</p>

<p>
  <strong>Identified:</strong>
  <%= @item.identified %>
</p>

<p>
  <strong>Real name req:</strong>
  <%= @item.real_name_req %>
</p>

<p>
  <strong>Sms verify:</strong>
  <%= @item.sms_verify %>
</p>

<p>
  <strong>Trusted person:</strong>
  <%= @item.trusted_person %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
